<mat-card>
    <b><span>Manage Order (Quản lý đặt hàng)</span></b>
    <button mat-flat-button color="primary" class="float-right" [disabled]="validateSubmit()" (click)="submitAction()">
        <mat-icon>print</mat-icon> Submit & Get bill (Yêu cầu in hoá đơn)
    </button>
</mat-card>
<hr>

<mat-card>
    <b><span>Customer Details (Thông tin khách hàng): </span></b>
    <form [formGroup]="manageOrderForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Name (Tên)</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="manageOrderForm.controls.name.touched && manageOrderForm.controls.name.invalid">
                        <!-- Bắt buộc điền -->
                        <span *ngIf="manageOrderForm.controls.name.errors.required">This field is madatoty (Bắt buộc)</span>
                        <!-- Thông tin không hợp lệ -->
                        <span *ngIf="manageOrderForm.controls.name.errors.pattern">This field is invalid (Thông tin không hợp lệ)</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="manageOrderForm.controls.email.touched && manageOrderForm.controls.email.invalid">
                        <!-- Bắt buộc điền -->
                        <span *ngIf="manageOrderForm.controls.email.errors.required">This field is madatoty (Bắt buộc)</span>
                        <!-- Thông tin không hợp lệ -->
                        <span *ngIf="manageOrderForm.controls.email.errors.pattern">This field is invalid (Thông tin không hợp lệ)</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Contact number (SĐT)</mat-label>
                    <input matInput formControlName="contactNumber" required>
                    <mat-error
                        *ngIf="manageOrderForm.controls.contactNumber.touched && manageOrderForm.controls.contactNumber.invalid">
                        <!-- Bắt buộc điền -->
                        <span *ngIf="manageOrderForm.controls.contactNumber.errors.required">This field is madatoty (Bắt buộc)</span>
                        <!-- Thông tin không hợp lệ -->
                        <span *ngIf="manageOrderForm.controls.contactNumber.errors.pattern">This field is invalid (Thông tin không hợp lệ)</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Payment method (Phương thức thanh toán)</mat-label>
                    <mat-select formControlName="paymentMethod" required>
                        <mat-option value="Cash">Cash (Tiền mặt)</mat-option>
                        <mat-option value="Credit Card">Credit card (Thẻ tín dụng)</mat-option>
                        <mat-option value="Debit Card">Debit card (Thẻ ghi nợ)</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="manageOrderForm.controls.paymentMethod.touched && manageOrderForm.controls.paymentMethod.invalid">
                        <!-- Bắt buộc điền -->
                        <span *ngIf="manageOrderForm.controls.paymentMethod.errors.required">This field is madatoty (Bắt buộc)</span>
                        <!-- Thông tin không hợp lệ -->
                        <span *ngIf="manageOrderForm.controls.paymentMethod.errors.pattern">This field is invalid (Thông tin không hợp lệ)</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-card>
<hr>

<mat-card>
    <b><span>Select product (Chọn sản phẩm / món ăn): -</span></b>

    <form [formGroup]="manageOrderForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Category (Danh mục)</mat-label>
                    <mat-select formControlName="category" (selectionChange)="getProductsByCategory($event.value)">
                        <mat-option *ngFor="let category of categorys" [value]="category">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Product (Sản phẩm / món ăn)</mat-label>
                    <mat-select formControlName="product" (selectionChange)="getProductDetails($event.value)">
                        <mat-option *ngFor="let product of products" [value]="product">
                            {{product.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Price (Giá)</mat-label>
                    <input matInput formControlName="price" required readonly>
                    <mat-error *ngIf="manageOrderForm.controls.price.touched && manageOrderForm.controls.price.invalid">
                        <!-- Bắt buộc điền -->
                        <span *ngIf="manageOrderForm.controls.price.errors.required">This field is madatoty (Bắt buộc)</span>
                        <!-- Thông tin không hợp lệ -->
                        <span *ngIf="manageOrderForm.controls.price.errors.pattern">This field is invalid (Thông tin không hợp lệ)</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Quantity (Số lượng)</mat-label>
                    <input matInput formControlName="quantity" required (keyup)="setQuantity($event)" #input>
                    <mat-error *ngIf="manageOrderForm.controls.quantity.touched && manageOrderForm.controls.quantity.invalid">
                        <!-- Bắt buộc điền -->
                        <span *ngIf="manageOrderForm.controls.quantity.errors.required">This field is madatoty (Bắt buộc)</span>
                        <!-- Thông tin không hợp lệ -->
                        <span *ngIf="manageOrderForm.controls.quantity.errors.pattern">This field is invalid (Thông tin không hợp lệ)</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Total (Tổng cộng)</mat-label>
                    <input matInput formControlName="total" required readonly>
                    <mat-error *ngIf="manageOrderForm.controls.total.touched && manageOrderForm.controls.total.invalid">
                        <!-- Bắt buộc điền -->
                        <span *ngIf="manageOrderForm.controls.total.errors.required">This field is madatoty (Bắt buộc)</span>
                        <!-- Thông tin không hợp lệ -->
                        <span *ngIf="manageOrderForm.controls.total.errors.pattern">This field is invalid (Thông tin không hợp lệ)</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>

    <div>
        <button mat-flat-button color="primary" [disabled]="validateProductAdd()" (click)="add()">Add (Thêm)</button>
        <button mat-flat-button color="primary" class="float-right">
            <mat-icon>monetization_on</mat-icon> Total amount (Tổng cộng): {{totalAmount}}
        </button>
    </div>
</mat-card>
<hr>

<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name (Tên)</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category (Danh mục)</th>
            <td mat-cell *matCellDef="let element">{{element.category}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price (Giá)</th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity (Số lượng)</th>
            <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total (Tổng)</th>
            <td mat-cell *matCellDef="let element">{{element.total}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element; let i = index" class="action-link">
                <button mat-icon-button color="primary" matTooltip="Delete (Xoá)" (click)="handleDeleteAction(i, element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
    </table>
</div>